<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forum - Xpress-Urself</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body class="forum">
    <div class="container">
        <h1>Forum</h1>
        <form id="postForm" enctype="multipart/form-data">
            <textarea name="content" placeholder="Xpress-Urself Here!" required></textarea><br>
            <input type="file" name="image"><br>
            <button type="submit" class="btn">Post</button>
        </form>
        <div id="posts"></div>
    </div>

<script src="js/forum.js"></script>
</body>
</html>
