
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Xpress-Urself</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body class="landing">
    <div class="container">
        <h1>Xpress-Urself</h1>
        <p>Xpress-Urself is a platform where you can talk about your experiences in bullying, maybe this can be useful for people that are badly mentally damaged because  of this.</p>
        <p>Choose what you want to do:</p>
        <div class="buttons">
            <a href="forum.html" class="btn">Forum</a>
            <p>Yes! We have a forum! Here you express whatever's happened to you or other thing related   with the topic of cyber bullying!</p>
            <br>
            <a href="library.html" class="btn">Library</a>
            <p>We've made a library full of resources that are able to help if you are undergoing this circustances. As well as information if you want to know more.</p>
            <br>
            <a href="podcasts.html" class="btn">Podcasts</a>
            <p>We made a podcast called "Further away from the screen" Right now it has ____ episodes.</p>
            <br>
            <a href="draw.html" class="btn">Drawing Pad</a>
            <p>This place should be great if you want to make a litle drawing for the forum, after finishing, you can take a screenshot of it and upload it to the platform</p>
            <br>
            <a href="login.html" class="btn">Login</a>
            <a href="register.html" class="btn">Register</a>
        </div>
    </div>
</body>
</html>
